@font-face {
  font-family: "MyriadPro";
  src: url("fonts/ofont.ru_Myriad Pro.ttf");
  font-weight: 100;
}
* {
  box-sizing: border-box;
}
h1 {
  font-family: "MyriadPro", sans-serif;
  font-weight: 500;
  margin: 0 5px;
  font-size: 33px;
}
h2 {
  font-family: "MyriadPro", sans-serif;
  color: #ffaf2d;
  font-weight: normal;
  text-align: center;
  font-size: 22px;
  margin-bottom: 12px;
}
h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: "MyriadPro", sans-serif;
}
@media (max-width:1640px) {
  h3 {
    font-size: 37px;
  }
}
h4 {
  color: #34a853;
  font-size: 22px;
  font-weight: 100;
  margin-top: 0;
}
h5 {
  color: #878787;
  font-size: 18px;
  font-weight: 100;
  font-family: "MyriadPro", sans-serif;
  margin: 3px;
}
h6 {
  color: black;
  text-transform: uppercase;
  font-family: "MyriadPro", sans-serif;
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 8px;
}
html {
  width: 100%;
  padding: 0;
  background-color: #f4f2f2;
  position: relative;
}
html:root {
  --swiper-theme-color: #fff;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: sticky;
}
.header_mobile {
  display: none;
}
.header {
  width: 100%;
  background-color: #34a853;
  display: flex;
  justify-content: space-between;
  padding: 0 9%;
  height: 49px;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__navigation a img {
  display: none;
}
.header__navigation > * {
  font-size: 14.5px;
  font-family: "MyriadPro", sans-serif;
  color: #ffffff;
  text-align: center;
}
.header__navigation > div {
  align-items: center;
}
.header__vertical-line {
  background-color: #67be7e;
  height: 28px;
  width: 1px;
  padding: 0;
}
#email:hover {
  background-color: #33bb6f;
}
#copy {
  background-color: black;
  width: 145px;
  height: 9px;
  position: absolute;
  top: 55px;
  left: 1400px;
  font-size: 16px;
  border-radius: 40px;
  display: none;
  justify-content: center;
}
#email:hover + #copy {
  display: flex;
}
.phone-hover__gray-text {
  color: #878787;
  font-size: 14px;
  margin-bottom: 20px !important;
}
#phone:hover {
  background-color: #33bb6f;
}
#phone-hover {
  background-color: white;
  width: 755px;
  height: 339px;
  position: absolute;
  top: 55px;
  left: 49.4%;
  display: none;
  justify-content: space-around;
  z-index: 200;
  color: black;
  font-size: 17px;
}
#phone-hover > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#phone-hover > div strong {
  font-size: 20px;
}
#phone-hover > div form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#phone-hover > div form input {
  height: 20px;
  border: none;
  border-bottom: 1px solid #e8e7e7;
  margin-bottom: 10px;
}
#phone-hover > div form input:focus {
  border: none;
  border-bottom: 1px solid #ffaf2d;
  outline: none;
}
#phone-hover > div form button {
  width: 135px;
  height: 45px;
  color: white;
  background-color: #ffaf2d;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  margin-top: 10px;
}
#phone-hover > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#phone-hover > div > div div span:hover {
  border-bottom: 1px solid black;
}
#phone-hover > div * {
  margin: 2px;
}
.search-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e7e7;
  padding: 0 9%;
  height: 63px;
}
.search-block_mobile,
.search-block__img_mobile,
.search-block__img_hover {
  display: none;
}
.search-block__count_orange {
  color: #ffaf2d;
  font-weight: bold;
}
.search-block img {
  width: 35px;
  height: 35px;
  margin: 2px;
}
.search-block__logo {
  display: flex;
  align-items: center;
}
.search-block__logo span {
  display: none;
}
.search-block__logo img {
  width: 40px;
  height: 40px;
}
.search-block__img_hover {
  display: none;
}
.search-block__portal:hover .search-block__img_hover {
  display: initial;
}
.search-block__portal {
  font-size: 15px;
  font-family: "MyriadPro", sans-serif;
  width: 150px;
  display: flex;
  margin: 0 25px;
  align-items: center;
  color: #878787;
}
.search-block__portal * {
  margin: 2px;
}
.search-block__portal:hover img:first-child {
  display: none;
}
.search-block__basket {
  display: flex;
  text-align: center;
  white-space: nowrap;
}
.search-block__basket div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-block__basket div:last-child {
  margin-left: 14px;
  text-align: left;
}
.search-block__basket div:last-child span:first-child {
  color: #878787;
  font-size: 15px;
  font-family: "MyriadPro", sans-serif;
}
.search-block__basket div:last-child span:last-child {
  font-weight: bold;
}
.search-block__basket img {
  width: 28px;
  height: 28px;
  margin: 0;
  padding-bottom: 4px;
}
.search-block__basket:hover {
  background-color: #ffaf2d;
}
.search-block__basket:hover img {
  display: none;
}
.search-block__basket:hover div:last-child span {
  color: white;
}
.search-block__basket:hover .search-block__img_hover {
  display: initial;
}
.search-block__basket:hover .search-block__count_orange {
  color: white;
}
.search-block__search {
  display: flex;
  text-align: center;
  margin-left: 2%;
  width: 57%;
}
.search-block__search-hover {
  display: none;
  flex-direction: column;
  text-align: left;
  height: 360px;
  width: 215px;
  position: absolute;
  top: 99px;
  left: 25.2%;
  background-color: #efefef;
  z-index: 20;
  font-family: "MyriadPro", sans-serif;
  padding: 10px;
  font-size: 15px;
}
.search-block__search-hover span {
  margin: 4px;
}
.search-block__search-hover span:hover {
  color: #34a853;
}
.search-block__search input {
  width: 100%;
  height: 35px;
  padding: 0;
  border: 0;
}
.search-block__search input:focus {
  outline: none;
  border: none;
}
.search-block__search button {
  height: 35px;
  border: 0;
  margin: 0 1px;
}
.search-block__search button:focus {
  outline: none;
  border: none;
}
.search-block__search a:last-child button {
  background-color: #ffaf2d;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  margin: 0;
}
.search-block__search a:last-child button img {
  width: 23px;
  height: 23px;
  padding-top: 2px;
}
.search-block__search a:first-child button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 65px;
}
.categories-block_mobile {
  display: none;
}
#close-form {
  position: relative;
  top: -160px;
  left: 30px;
  cursor: pointer;
}
.categories__hot-hover {
  display: none;
  flex-direction: row;
  height: 612px;
  position: absolute;
  top: 213px;
  left: 0;
  z-index: 10;
}
.categories__hot-hover > div {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.11) inset;
  background-color: #f7f7f7;
  width: 290px;
}
.categories__hot-hover > div > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px 30px;
  border-top: 1px solid #e8e7e7;
}
.categories__hot-hover > div > div:first-child {
  border-top: none;
}
.categories__hot-hover > div span {
  margin: 2px;
  font-size: 19px;
  text-align: left;
  font-family: "MyriadPro", sans-serif;
  font-weight: 100;
}
.categories__hot-hover > div > div {
  display: flex;
  justify-content: left;
  margin: 3px;
}
.categories__hot-hover > div:first-child {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 20px;
  background-color: white;
}
.categories__hot-hover > div:first-child a {
  padding: 6px 0;
  margin: 6px 25px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.categories__hot-hover > div:first-child a:hover {
  color: #ffaf2d;
}
.categories__hot-hover > div:first-child a:last-child {
  border-bottom: none;
}
.categories__hot-hover > div:first-child span {
  font-size: 17px;
  font-weight: 100;
  font-family: "MyriadPro", sans-serif;
}
.categories__hot-hover > div:first-child a span:last-child {
  color: #b7b7b7;
}
.categories__hot-hover > div:last-child {
  background-color: #00aa4b;
  display: flex;
  flex-direction: column;
  padding: 65px;
  justify-content: center;
  align-items: center;
}
.categories__hot-hover > div:last-child span {
  color: white;
  font-family: "MyriadPro", sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: max-content;
}
.categories__hot-hover > div:last-child button {
  background-color: #ffaf2d;
  color: white;
  width: 130px;
  height: 35px;
  border-radius: 8px;
  margin: 20px;
  outline: none;
  border: none;
  font-size: 15px;
}
.categories__cold-hover {
  display: none;
}
.categories__cold-hover > div:last-child {
  width: 440px;
  padding: 50px 0;
}
.toggle-click {
  display: flex;
}
.categories-block {
  display: flex;
  justify-content: space-between;
  padding: 0 9%;
  height: 100px;
  box-shadow: 0 4px 3px #e1dede;
}
.categories-block img {
  width: 60px;
  height: 60px;
}
.categories-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.categories-block span {
  font-family: "MyriadPro", sans-serif;
  font-size: 13px;
}
@media (max-width:1900px) {
  #copy {
    left: 73.5%;
  }
  #phone-hover {
    left: 48%;
  }
}
@media (max-width:1800px) {
  #copy {
    left: 72.5%;
  }
  #phone-hover {
    left: 47%;
  }
}
@media (max-width:1700px) {
  #copy {
    left: 71.5%;
  }
  #phone-hover {
    left: 46%;
  }
}
@media (max-width:1640px) {
  .search-block {
    height: 50px;
  }
  .categories-block {
    height: 80px;
  }
  .search-block img {
    width: 30px;
    height: 30px;
  }
  .search-block__logo h1 {
    font-size: 30px;
  }
  .search-block__logo img {
    width: 35px;
    height: 35px;
  }
  .search-block__portal {
    font-size: 14px;
  }
  .search-block__basket div:last-child span:first-child {
    font-size: 14px;
  }
  .search-block__basket div:last-child span:last-child {
    font-size: 14px;
    font-family: "MyriadPro", sans-serif;
  }
}
@media (max-width:1460px) {
  .header {
    height: 40px;
  }
  .search-block {
    height: 45px;
  }
  .categories-block {
    height: 70px;
  }
  .categories-block img {
    width: 50px;
    height: 50px;
  }
  .categories-block span {
    font-size: 12px;
  }
  .search-block img {
    width: 28px;
    height: 28px;
  }
  .search-block__search input,
  .search-block__search button {
    height: 30px;
  }
  .search-block__logo h1 {
    font-size: 27px;
  }
  .search-block__logo img {
    width: 33px;
    height: 33px;
  }
  .search-block__portal {
    font-size: 13px;
  }
  .search-block__basket div:last-child span:first-child {
    font-size: 13px;
  }
  .search-block__basket div:last-child span:last-child {
    font-size: 13px;
    font-family: "MyriadPro", sans-serif;
  }
  .header__navigation > * {
    font-size: 13px;
  }
}
@media (max-width:1550px) {
  #copy {
    left: 76.5%;
  }
  #phone-hover {
    left: 43.5%;
  }
}
@media (max-width:1310px) {
  #copy {
    left: 74.5%;
  }
  #phone-hover {
    left: 30.5%;
  }
}
@media (max-width:1280px) {
  .header__navigation div span {
    display: none;
  }
  .header {
    height: 35px;
  }
  .search-block {
    height: 40px;
  }
  .categories-block {
    height: 65px;
  }
  .categories-block img {
    width: 40px;
    height: 40px;
  }
  .categories-block span {
    font-size: 11px;
  }
  .search-block img {
    width: 25px;
    height: 25px;
  }
  .search-block__search input,
  .search-block__search button {
    height: 27px;
  }
  .search-block__logo h1 {
    font-size: 25px;
  }
  .search-block__logo img {
    width: 30px;
    height: 30px;
  }
  .search-block__portal {
    font-size: 12px;
  }
  .search-block__basket div:last-child span:first-child {
    font-size: 12px;
  }
  .search-block__basket div:last-child span:last-child {
    font-size: 12px;
    font-family: "MyriadPro", sans-serif;
  }
  .header__navigation > * {
    font-size: 13px;
  }
}
@media (max-width:1000px) {
  h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .search-block__logo img {
    width: 55px;
    height: 55px;
  }
  .search-block__logo span {
    font-size: 17px;
  }
  .search-block__basket div:last-child {
    display: none;
  }
  .search-block img {
    width: 55px;
    height: 55px;
  }
  .search-block__count_orange {
    font-size: 20px;
  }
  .search-block__img_mobile {
    width: 55px !important;
    height: 55px !important;
  }
  .search-block__logo {
    padding: 0 30% 0 3%;
    width: auto;
  }
  .categories-block_mobile {
    font-family: "MyriadPro", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e7e7;
    padding: 4px 5px;
    top: -80px;
    position: relative;
  }
  .categories-block_mobile span {
    font-size: 32px;
  }
  .categories-block {
    display: none;
  }
  .search-block__basket {
    padding: 0;
  }
  .header {
    position: relative;
    z-index: -10;
    top: -100px;
    display: none;
  }
  .header__vertical-line {
    display: none;
  }
  .header__navigation > div > span {
    display: inline-block;
  }
  .header_mobile {
    display: inline;
    position: relative;
    z-index: 100;
    top: 6px;
    left: 3%;
  }
  .header_mobile img {
    width: 75px;
    height: 75px;
  }
  .active {
    z-index: 5000;
    top: 85px;
    display: flex;
    position: absolute;
    height: fit-content;
  }
  .active_nav {
    display: flex;
    flex-direction: column;
  }
  .active_nav > a {
    margin: 10px 0;
    font-size: 17px;
  }
  .active_nav span {
    font-size: 17px;
    margin: 10px 5px;
  }
  .search-block {
    justify-content: space-between;
    position: relative;
    top: -80px;
    z-index: 10;
    padding-left: 100px;
    padding-right: 5px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
    height: 90px;
  }
  .search-block_mobile,
  .search-block__img_mobile {
    display: initial;
  }
  .search-block__img_mobile {
    width: 35px;
    height: 35px;
  }
  .search-block__img {
    display: none;
  }
  .search-block__search,
  .search-block__portal {
    display: none;
  }
  .search-block__logo div {
    display: flex;
    flex-direction: column;
  }
  .search-block__logo span {
    display: inline-block;
    margin-left: 4px;
  }
}
@media (max-width: 730px) {
  .search-block__logo {
    padding-right: 0;
  }
  .categories-block_mobile span {
    font-size: 25px;
  }
  h1 {
    font-size: 23px;
  }
  .active {
    top: 65px;
  }
  .search-block__logo img {
    width: 35px;
    height: 35px;
  }
  .search-block__logo span {
    font-size: 14px;
  }
  .search-block img {
    width: 35px;
    height: 35px;
  }
  .search-block__count_orange {
    font-size: 18px;
  }
  .search-block__img_mobile {
    width: 35px !important;
    height: 35px !important;
  }
  .header_mobile {
    left: 2%;
  }
  .header_mobile img {
    width: 50px;
    height: 50px;
  }
  .search-block {
    padding-left: 65px;
    height: 90px;
    padding-top: 25px;
  }
}
@media (max-width: 392px) {
  h1 {
    font-size: 17px;
  }
  .categories-block_mobile span {
    font-size: 19px;
  }
  .active {
    top: 55px;
  }
  .active_nav > a {
    margin: 7px 0;
    font-size: 14px;
  }
  .active_nav span {
    font-size: 14px;
    margin: 7px 5px;
  }
  .search-block__logo img {
    width: 25px;
    height: 25px;
  }
  .search-block__logo span {
    font-size: 12px;
  }
  .search-block img {
    width: 25px;
    height: auto;
  }
  .header_mobile {
    left: 2%;
  }
  .header_mobile img {
    width: 40px;
    height: 40px;
  }
  .search-block__count_orange {
    font-size: 16px;
  }
  .search-block__img_mobile {
    width: 25px !important;
    height: 25px !important;
  }
  .search-block {
    padding-left: 50px;
    align-items: center;
    margin-top: 5px;
  }
}
.main-container {
  max-width: 1550px;
  margin: 20px auto;
}
.main-content {
  display: flex;
  height: 480px;
}
.body {
  max-width: 1400px;
  margin: 0 auto;
}
.targeted-offers-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 19%;
  background-color: white;
  font-weight: 100;
  font-size: 17px;
}
@media (max-width:1280px) {
  .targeted-offers-block {
    font-size: 13px;
  }
}
@media (max-width:1280px) {
  .targeted-offers-block h2 {
    font-size: 18px;
  }
}
.targeted-offers-block div {
  background-color: #f4f2f2;
  width: 100%;
  height: 14px;
  position: relative;
  z-index: 100;
}
.targeted-offers-block a {
  padding: 6px 0 0 0;
  margin: 8px 25px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
}
.targeted-offers-block a:last-child {
  border-bottom: none;
}
.targeted-offers-block span {
  font-family: "MyriadPro", sans-serif;
}
.targeted-offers-block a span:last-child {
  color: #b7b7b7;
}
.swiper-container {
  max-width: 900px;
  margin-left: 25px !important;
  margin-right: 25px !important;
  background-color: #fff;
}
.swiper-slide {
  background-color: #232323;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "MyriadPro", sans-serif;
  width: 860px;
  height: 100%;
}
.swiper-slide img {
  margin: auto 60px;
}
.swiper-slide > div {
  padding: 60px 70px;
}
.swiper-slide span:first-child {
  color: #727272;
}
.swiper-slide h1 {
  font-size: 36px;
  margin: 70px 0 20px 0;
}
.swiper-slide button {
  display: block;
  background-color: #ffaf2d;
  padding: 9px 25px;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  outline: none;
  border: none;
  margin-top: 60px;
}
@media (max-width:1280px) {
  .swiper-slide img {
    margin: auto 30px auto 0;
    width: 200px;
    height: 280px;
  }
  .swiper-slide > div {
    padding: 60px 0px 60px 30px;
  }
}
@media (max-width:1000px) {
  .swiper-slide > div {
    padding: 60px 70px;
  }
  .swiper-slide img {
    margin: 60px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: rgba(255, 255, 255, 0) !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(255, 255, 255, 0.47) !important;
}
.sale-block {
  width: 19%;
  border: 2px solid #ffaf2d;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: white;
  font-size: 17px;
}
@media (max-width:1280px) {
  .sale-block {
    font-size: 13px;
  }
}
@media (max-width:1000px) {
  .sale-block {
    width: 100%;
    order: 2;
  }
}
.sale-block * {
  margin: 5px 5px 5px 27px;
}
.sale-block h1 {
  font-size: 36px;
  margin-top: -2px;
}
@media (max-width:1280px) {
  .sale-block h1 {
    font-size: 28px;
  }
}
.sale-block span:last-child {
  margin: 20px 0 46px 27px;
  color: #ffaf2d;
}
.brands-block {
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: white;
  align-items: center;
}
@media (max-width:1000px) {
  .brands-block {
    width: 100%;
  }
}
.brands-block span {
  font-family: "MyriadPro", sans-serif;
  font-size: 17px;
  padding-right: 20px;
}
.brands-block > div {
  display: flex;
  justify-content: space-around;
  width: 33%;
  align-items: center;
}
.brands-block > div > div {
  height: 72px;
  width: 2px;
  background-color: #f4f2f2;
}
.news-block {
  display: flex;
  padding: 100px 0 0 0;
  justify-content: space-between;
  align-items: center;
}
.news-block button {
  font-size: 17px;
  padding: 5px 30px;
  margin-top: 55px;
  border-radius: 30px;
  width: 170px;
}
.news-block strong {
  font-size: 24px;
  font-weight: 500;
}
.news-block > div:first-child {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-block > div:first-child h3 {
  text-align: left;
}
.news-block > div:first-child img {
  margin: 7px 0 28px 0;
}
.news-block * {
  font-family: "MyriadPro", sans-serif;
}
.news-block > div > span {
  display: block;
  font-size: 16px;
  margin-top: 17px;
}
.news-block > div:last-child {
  padding: 0 0 0 105px;
}
.news-block > div:last-child > div {
  display: flex;
  margin-top: 35px;
}
.news-block > div:last-child > div > div > span {
  display: block;
  margin-top: 10px;
}
.news-block img {
  margin: 0 20px 0 0;
}
.news-block__producer-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.news-block__producer-line span:first-child {
  color: #34a853;
}
.recommend-block {
  display: flex;
  padding: 120px 0 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "MyriadPro", sans-serif;
}
.recommend-block h3 {
  margin-bottom: 10px;
}
.recommend-block strong {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}
.recommend-block span {
  color: #878787;
  font-size: 17px;
  max-width: 670px;
  text-align: center;
}
.recommend-block > div {
  display: flex;
  margin-top: 65px;
  width: 100%;
}
.recommend-block > div > div {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
.recommend-block > div > div:first-child {
  justify-content: flex-end;
  background-color: white;
  max-width: 600px;
  width: 43%;
  height: 745px;
  align-items: center;
}
.recommend-block > div > div:first-child img {
  margin-top: 60px;
  height: 480px;
  max-width: 460px;
}
.recommend-block > div > div:first-child span {
  max-width: 270px;
}
.recommend-block > div > div:last-child > div:first-child {
  display: flex;
  background-color: black;
  color: white;
  height: 420px;
  max-width: 790px;
  align-items: center;
  margin-bottom: 5px;
}
.recommend-block > div > div:last-child > div:first-child h6 {
  color: white;
}
.recommend-block > div > div:last-child > div:first-child strong {
  width: 100px;
}
.recommend-block > div > div:last-child > div:first-child img {
  height: 400px;
  max-width: 200px;
  margin-right: 65px;
}
.recommend-block > div > div:last-child > div:last-child {
  display: flex;
  background-color: white;
  height: 320px;
  max-width: 790px;
}
.recommend-block > div > div:last-child > div:last-child > div {
  padding: 40px;
}
.recommend-block > div > div:last-child > div:last-child img {
  height: 300px;
}
.about-block {
  display: flex;
  padding: 120px 0 0 0;
  justify-content: space-between;
  width: 100%;
  font-family: "MyriadPro", sans-serif;
}
.about-block button {
  border-radius: 50%;
  color: white;
  background-color: black;
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 30px;
  border: none;
  outline: none;
}
.about-block span {
  color: #191919;
  font-size: 18px;
  font-weight: 100;
}
.about-block > div:first-child {
  width: 830px;
  padding: 5px 30px 5px 0;
}
.about-block > div:last-child {
  width: 255px;
  padding-top: 110px;
}
.about-block > div:last-child * {
  display: block;
}
.about-block > div:last-child > div {
  margin: 10px 0;
}
.about-block > div:last-child h3 {
  margin-bottom: 0;
}
.footer-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  padding-top: 182px;
}
.footer-block > div {
  display: flex;
  justify-content: space-around;
}
.footer-block > div:first-child {
  background-color: #232323;
  padding: 100px 0;
}
.footer-block > div * {
  display: block;
  margin: 4px;
}
.footer-block > div strong {
  color: #777;
  margin-bottom: 20px;
  font-size: 20px;
}
.footer-block > div:last-child {
  background-color: #191919;
  justify-content: space-between;
  padding: 40px 250px 30px 250px;
  align-items: center;
}
.footer-block > div:last-child strong {
  font-size: 23px;
  font-weight: 500;
  font-family: "MyriadPro", sans-serif;
  color: #fff;
  margin-bottom: 0;
}
.footer-block > div:last-child span {
  color: #777;
  font-size: 16px;
  font-family: "MyriadPro", sans-serif;
}
.footer-block > div:last-child img {
  width: 50px;
  height: 50px;
}
.footer-block > div:last-child div:first-child {
  display: flex;
}
@media (max-width: 1350px) {
  .footer-block > div:last-child {
    padding: 40px 100px 30px 100px;
  }
}
@media (max-width:1640px) {
  .main-content {
    width: 81%;
    margin: 0 auto;
    height: auto;
  }
  .swiper-container {
    width: 60%;
    height: fit-content;
  }
  .swiper-slide {
    align-items: center;
    font-size: 14px;
  }
  .swiper-slide img {
    height: 300px;
    margin: 0 60px 0 0;
  }
  .swiper-slide > div {
    padding: 40px 0 85px 55px;
  }
  .swiper-slide span:first-child {
    color: #727272;
    font-size: 13px;
  }
  .swiper-slide h1 {
    font-size: 30px;
    margin: 50px 0 15px 0;
  }
  .swiper-slide button {
    padding: 6px 15px;
    font-size: 13px;
    margin-top: 50px;
  }
  .targeted-offers-block {
    width: 20%;
    font-size: 13px;
  }
  .targeted-offers-block a {
    margin: 5px 25px;
    padding: 0;
  }
  .targeted-offers-block h2 {
    font-size: 20px;
  }
  .sale-block {
    width: 20%;
  }
  .sale-block h1 {
    font-size: 32px;
  }
  .sale-block span {
    font-size: 15px;
  }
  .brands-block {
    width: 81%;
  }
  .news-block {
    width: 81%;
    margin: 0 auto;
  }
  .news-block > div:first-child strong {
    font-size: 23px;
  }
  .news-block > div:first-child img {
    width: 450px;
  }
  .news-block > div:last-child strong {
    font-size: 20px;
  }
  .news-block > div:last-child span {
    font-size: 16px;
  }
  .news-block > div:last-child img {
    width: 160px;
    height: 150px;
    margin: 0 10px 0 0;
  }
  .recommend-block {
    width: 81%;
    margin: 0 auto;
  }
  .about-block {
    width: 81%;
    margin: 0 auto;
  }
  .about-block div:first-child span {
    font-size: 17px;
  }
}
@media (max-width:1460px) {
  h3 {
    font-size: 28px;
    margin: 35px 0 30px 0;
  }
  .swiper-slide {
    font-size: 12px;
  }
  .swiper-slide img {
    height: 260px;
  }
  .swiper-slide > div {
    padding: 40px 0 80px 50px;
  }
  .swiper-slide span:first-child {
    font-size: 13px;
  }
  .swiper-slide h1 {
    font-size: 25px;
    margin: 35px 0 8px 0;
  }
  .swiper-slide button {
    padding: 5px 13px;
    font-size: 12px;
  }
  .targeted-offers-block {
    font-size: 12px;
  }
  .targeted-offers-block a {
    margin: 4px 23px;
  }
  .targeted-offers-block h2 {
    font-size: 17px;
    margin-bottom: 4px;
  }
  .sale-block {
    width: 20%;
  }
  .sale-block h1 {
    font-size: 28px;
  }
  .sale-block span {
    font-size: 14px;
  }
  .sale-block span:last-child {
    margin: 10px 0 30px 15px;
  }
  .sale-block * {
    margin-left: 15px;
  }
  .sale-block img {
    width: 50px;
  }
  .brands-block {
    margin-top: 15px;
    height: 70px;
  }
  .brands-block img {
    width: 100px;
  }
  .news-block {
    width: 74%;
    padding-top: 45px;
  }
  .news-block > div:first-child img {
    width: 330px;
  }
  .news-block > div:first-child strong {
    font-size: 18px;
  }
  .news-block > div:first-child span {
    font-size: 12px;
  }
  .news-block > div:first-child button {
    width: 130px;
    font-size: 12px;
    margin-top: 25px;
  }
  .news-block > div:last-child img {
    width: 130px;
    height: 110px;
  }
  .news-block > div:last-child > div {
    margin-top: 15px;
  }
  .news-block > div:last-child strong {
    font-size: 16px;
  }
  .news-block > div:last-child > div > div > span {
    font-size: 11px;
    margin-top: 2px;
  }
  .recommend-block {
    width: 74%;
    padding: 0;
    margin: 70px auto 0 auto;
  }
  .recommend-block h3 {
    margin: 35px auto 10px auto;
  }
  .recommend-block span {
    font-size: 12px;
  }
  .recommend-block > span {
    font-size: 13px;
  }
  .recommend-block strong {
    font-size: 20px;
  }
  .recommend-block > div > div:first-child {
    height: auto;
    justify-content: center;
    width: 65%;
  }
  .recommend-block > div > div:first-child img {
    margin-top: 0;
    height: 360px;
    width: 80%;
  }
  .recommend-block > div > div:last-child > div:first-child {
    height: auto;
    width: 100%;
  }
  .recommend-block > div > div:last-child > div:first-child img {
    margin-right: 5px;
    width: 160px;
    height: auto;
  }
  .recommend-block > div > div:last-child > div:first-child div {
    width: 250px;
  }
  .recommend-block > div > div:last-child > div:last-child {
    height: auto;
    width: 100%;
  }
  .recommend-block > div > div:last-child > div:last-child div {
    padding: 30px 40px;
  }
  .recommend-block > div > div:last-child > div:last-child img {
    width: 145px;
    height: auto;
  }
  .about-block {
    width: 73%;
    margin: 0 auto;
    padding: 80px 0 0 0;
  }
  .about-block h3 {
    margin: 15px auto 10px auto;
  }
  .about-block div:first-child {
    width: 65%;
  }
  .about-block div:first-child span {
    line-height: 60%;
    font-size: 11px;
  }
  .about-block span {
    font-size: 12px;
  }
  .about-block > div:last-child {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 30px 0 0;
  }
  .about-block > div:last-child img {
    width: 105px;
  }
  .about-block button {
    width: 35px;
    height: 35px;
  }
  .footer-block {
    padding-top: 100px;
  }
  .footer-block span {
    font-size: 14px;
  }
  .footer-block > div strong {
    font-size: 15px;
  }
}
@media (max-width:1280px) {
  h3 {
    font-size: 21px;
    margin: 30px 0 25px 0;
  }
  .swiper-container {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .swiper-slide {
    font-size: 10px;
  }
  .swiper-slide img {
    height: 180px;
    width: auto;
    margin: 0 40px 0 0;
  }
  .swiper-slide > div {
    padding: 30px 30px 60px 40px;
  }
  .swiper-slide span:first-child {
    font-size: 12px;
  }
  .swiper-slide h1 {
    font-size: 18px;
    margin: 35px 0 8px 0;
  }
  .swiper-slide button {
    margin-top: 30px;
    padding: 3px 10px;
    font-size: 10px;
  }
  .targeted-offers-block {
    font-size: 10px;
  }
  .targeted-offers-block a {
    margin: 2px 20px;
  }
  .targeted-offers-block h2 {
    font-size: 13px;
    margin-bottom: 4px;
  }
  .sale-block {
    width: 20%;
  }
  .sale-block h1 {
    font-size: 23px;
  }
  .sale-block span {
    font-size: 12px;
  }
  .sale-block span:last-child {
    margin: 5px 0 25px 10px;
  }
  .sale-block * {
    margin-left: 10px;
  }
  .sale-block img {
    width: 50px;
  }
  .brands-block {
    height: 50px;
  }
  .brands-block img {
    width: 80px;
  }
  .news-block {
    width: 74%;
    padding-top: 35px;
  }
  .news-block strong {
    padding: 5px 0;
  }
  .news-block > div:first-child img {
    width: 100%;
  }
  .news-block > div:first-child strong {
    font-size: 14px;
  }
  .news-block > div:first-child span {
    font-size: 10px;
  }
  .news-block > div:first-child button {
    width: 100px;
    font-size: 10px;
    margin-top: 15px;
    padding: 3px 8px;
  }
  .news-block > div:last-child {
    padding: 0 0 0 50px;
  }
  .news-block > div:last-child img {
    width: 100px;
    height: 85px;
  }
  .news-block > div:last-child > div {
    margin-top: 8px;
  }
  .news-block > div:last-child strong {
    font-size: 12px;
  }
  .news-block > div:last-child > div > div > span {
    font-size: 9px;
    margin-top: 0;
  }
  .news-block__producer-line {
    margin-bottom: 0;
    font-size: 9px;
  }
  .recommend-block {
    width: 74%;
    padding: 0;
    margin: 40px auto 0 auto;
  }
  .recommend-block span {
    font-size: 10px;
  }
  .recommend-block > span {
    font-size: 11px;
  }
  .recommend-block strong {
    font-size: 17px;
  }
  .recommend-block > div > div:first-child {
    height: auto;
    justify-content: center;
    width: 80%;
  }
  .recommend-block > div > div:first-child img {
    margin-top: 0;
    height: 250px;
    width: 80%;
  }
  .recommend-block > div > div:last-child > div:first-child {
    height: auto;
    width: 100%;
  }
  .recommend-block > div > div:last-child > div:first-child img {
    margin-right: 5px;
    width: 120px;
    height: auto;
  }
  .recommend-block > div > div:last-child > div:first-child div {
    width: 200px;
  }
  .recommend-block > div > div:last-child > div:last-child {
    height: auto;
    width: 100%;
  }
  .recommend-block > div > div:last-child > div:last-child div {
    padding: 20px 30px;
  }
  .recommend-block > div > div:last-child > div:last-child img {
    width: 90px;
    height: auto;
  }
  .about-block {
    width: 73%;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
  .about-block div:first-child {
    width: 70%;
  }
  .about-block div:first-child span {
    line-height: 60%;
    font-size: 10px;
  }
  .about-block span {
    font-size: 10px;
  }
  .about-block > div:last-child {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 30px 0 0;
  }
  .about-block > div:last-child img {
    width: 80px;
  }
  .about-block button {
    width: 25px;
    height: 25px;
  }
  .footer-block {
    padding-top: 70px;
  }
  .footer-block span {
    font-size: 10px;
  }
  .footer-block > div:first-child {
    padding: 50px 0 0 50px;
  }
  .footer-block > div strong {
    font-size: 11px;
  }
}
@media (max-width:1000px) {
  .main-container {
    margin: 0;
    position: relative;
    top: -80px;
  }
  .body {
    position: relative;
    top: -80px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .swiper-container {
    width: 100%;
    max-width: 1000px;
  }
  .swiper-slide img {
    margin: auto 10px;
    height: 400px;
  }
  .swiper-slide span:first-child,
  .swiper-slide span {
    font-size: 23px;
    font-weight: 100;
  }
  .swiper-slide > div {
    padding: 80px 30px 150px 30px;
  }
  .swiper-slide h1 {
    font-size: 37px;
    margin: 50px 0 20px 0;
  }
  .swiper-slide button {
    padding: 15px 40px;
    font-size: 25px;
    border-radius: 45px;
    margin-top: 40px;
  }
  .brands-block {
    width: 90%;
    height: auto;
    margin-top: 20px;
    flex-direction: column;
  }
  .brands-block__mobile-invisible {
    display: none;
  }
  .brands-block > div {
    width: 100%;
    margin: 53px 0;
  }
  .brands-block span {
    padding-right: 60px;
    font-size: 30px;
  }
  .brands-block img {
    width: 250px;
  }
  .recommend-block {
    padding-top: 60px;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .recommend-block h3 {
    font-size: 49px;
  }
  .recommend-block h6 {
    font-size: 30px;
  }
  .recommend-block span {
    font-size: 30px;
    font-weight: 100;
  }
  .recommend-block strong {
    font-size: 42px;
  }
  .recommend-block > div {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .recommend-block > div span {
    font-size: 23px;
  }
  .recommend-block > div > div:first-child {
    height: auto;
    justify-content: center;
    max-width: 790px;
    width: 100%;
  }
  .recommend-block > div > div:first-child span {
    max-width: 80%;
  }
  .recommend-block > div > div:first-child img {
    height: 40%;
    max-width: 350px;
  }
  .recommend-block > div > div:last-child > div:first-child img {
    margin-right: 5px;
    width: 40%;
  }
  .recommend-block > div > div:last-child > div:first-child div {
    width: auto;
    padding-bottom: 10px;
  }
  .recommend-block > div > div:last-child > div:last-child img {
    width: 200px;
  }
  #subtitle {
    font-size: 26px;
  }
  .about-block {
    padding-top: 60px;
    flex-direction: column-reverse;
    width: 90%;
  }
  .about-block h3 {
    font-size: 50px;
  }
  .about-block > div:first-child {
    width: 100%;
    padding: 0;
  }
  .about-block > div:first-child span {
    font-size: 31.5px;
    line-height: 120%;
    font-weight: 100;
  }
  .about-block > div:first-child h3 {
    margin-bottom: 50px;
  }
  .about-block > div span {
    font-size: 30px;
  }
  .about-block > div:last-child {
    padding-bottom: 20px;
  }
  .about-block > div:last-child img {
    width: 235px;
    height: 235px;
    margin-bottom: 20px;
  }
  .about-block > div:last-child > div:last-child span {
    color: black;
    font-size: 31px;
  }
  .about-block strong {
    margin: 25px 0 8px 0;
    font-size: 40px;
    font-weight: 500;
  }
  .about-block button {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: 100;
  }
  .about-block__mobile-invisible {
    display: none;
  }
  .sale-block {
    width: 90%;
    height: 480px;
    margin-top: 20px;
  }
  .sale-block h1 {
    font-size: 48px;
  }
  .sale-block span {
    font-size: 25px;
  }
  .sale-block span:last-child {
    margin: 35px 0 60px 60px;
  }
  .sale-block * {
    margin-left: 60px;
  }
  .sale-block img {
    width: 120px;
  }
  .news-block {
    display: none;
  }
  .footer-block > div:first-child {
    flex-direction: column;
    padding: 7% 2%;
  }
  .footer-block > div:first-child span {
    display: none;
  }
  .footer-block > div:first-child strong {
    color: white;
    font-family: "MyriadPro", sans-serif;
    border-bottom: 1px solid #878787;
    padding: 10px 20px;
    font-size: 31px;
    font-weight: 100;
  }
  .footer-block > div:last-child {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }
  .footer-block > div:last-child img {
    width: 85px;
    height: 85px;
    margin: 30px 10px 0 0;
  }
  .footer-block > div:last-child strong {
    font-size: 50px;
  }
  .footer-block > div:last-child span {
    font-size: 32px;
    margin: 0;
  }
  .footer-block > div:last-child div {
    margin: 20px 0 0 0;
    font-weight: 100;
    font-size: 42px;
    font-family: "MyriadPro", sans-serif;
  }
  .targeted-offers-block {
    display: none;
  }
}
@media (max-width: 630px) {
  .sale-block {
    height: 300px;
  }
  .sale-block h1 {
    font-size: 32px;
  }
  .sale-block span {
    font-size: 17px;
  }
  .sale-block span:last-child {
    margin: 20px 0 40px 30px;
  }
  .sale-block * {
    margin-left: 30px;
  }
  .sale-block img {
    width: 80px;
  }
  .brands-block > div {
    width: 100%;
    margin: 20px 0;
  }
  .brands-block span {
    padding: 0 0px;
    font-size: 17px;
    width: 35%;
    text-align: center;
  }
  .brands-block img {
    width: 35%;
  }
  .recommend-block span {
    font-size: 18px;
  }
  .recommend-block h3 {
    font-size: 30px;
  }
  .recommend-block > div h6 {
    font-size: 20px;
  }
  .recommend-block > div span {
    width: auto;
    font-size: 15px;
  }
  .recommend-block > div strong {
    font-size: 25px;
  }
  .recommend-block > div > div:last-child > div:last-child > div {
    padding-left: 10px;
  }
  .recommend-block > div > div:last-child > div:last-child img {
    max-width: 250px;
    width: 40%;
    min-width: 100px;
    height: auto;
    max-height: 200px;
  }
  .swiper-slide img {
    margin: auto 10px auto 0;
    min-width: 140px;
    width: 40%;
    height: auto;
  }
  .swiper-slide > div {
    padding: 50px 10px;
  }
  .swiper-slide h1 {
    font-size: 25px;
    margin: 30px 0 10px 0;
  }
  .swiper-slide span:first-child,
  .swiper-slide span {
    font-size: 14px;
  }
  .swiper-slide button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 20px;
  }
  #subtitle {
    font-size: 16px;
  }
  .about-block {
    padding-top: 50px;
  }
  .about-block h3 {
    font-size: 30px;
  }
  .about-block > div:first-child span {
    font-size: 19px;
  }
  .about-block > div:first-child h3 {
    margin-bottom: 40px;
  }
  .about-block > div span {
    font-size: 20px;
  }
  .about-block > div:last-child {
    padding-bottom: 15px;
  }
  .about-block > div:last-child img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }
  .about-block > div:last-child > div:last-child span {
    font-size: 17px;
  }
  .about-block strong {
    margin: 17px 0 0 0;
    font-size: 25px;
    font-weight: 500;
  }
  .about-block button {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    font-size: 20px;
  }
  .about-block__mobile-invisible {
    display: none;
  }
  .footer-block > div:first-child {
    padding: 6% 2%;
  }
  .footer-block > div:first-child strong {
    padding: 10px 20px;
    font-size: 19px;
  }
  .footer-block > div:last-child img {
    width: 62px;
    height: 62px;
    margin: 20px 10px 0 0;
  }
  .footer-block > div:last-child strong {
    font-size: 30px;
  }
  .footer-block > div:last-child span {
    font-size: 18px;
  }
  .footer-block > div:last-child div {
    margin: 15px 0 0 0;
    font-size: 25px;
  }
}
@media (max-width: 350px) {
  .swiper-slide > div {
    padding: 30px 2px 35px 10px;
  }
  .swiper-slide span:first-child,
  .swiper-slide span {
    font-size: 12px;
  }
  .swiper-slide img {
    min-width: 120px;
  }
  .swiper-slide h1 {
    font-size: 19px;
    margin: 20px 0 7px 0;
  }
  .swiper-slide button {
    padding: 5px 15px;
    font-size: 13px;
    margin-top: 20px;
  }
  .sale-block {
    height: 200px;
  }
  .sale-block h1 {
    font-size: 22px;
  }
  .sale-block span {
    font-size: 12px;
  }
  .sale-block span:last-child {
    margin: 10px 0 20px 20px;
  }
  .sale-block * {
    margin-left: 20px;
  }
  .sale-block img {
    width: 45px;
  }
  .recommend-block span {
    font-size: 13px;
  }
  .recommend-block h3 {
    font-size: 22px;
  }
  .recommend-block > div h6 {
    font-size: 16px;
  }
  .recommend-block > div span {
    width: auto;
    font-size: 12px;
  }
  .recommend-block > div strong {
    font-size: 18px;
  }
  .recommend-block > div > div:last-child > div:last-child > div {
    padding-left: 10px;
  }
  .recommend-block > div > div:last-child > div:last-child h6 {
    margin-top: 0;
  }
  .recommend-block > div > div:last-child > div:last-child img {
    max-width: 250px;
    width: 40%;
    min-width: 100px;
    height: auto;
    max-height: 200px;
  }
  #subtitle {
    font-size: 11px;
  }
  .about-block {
    padding-top: 30px;
  }
  .about-block h3 {
    font-size: 21px;
  }
  .about-block > div:first-child span {
    font-size: 12px;
  }
  .about-block > div:first-child h3 {
    margin-bottom: 21px;
  }
  .about-block > div span {
    font-size: 12px;
  }
  .about-block > div:last-child {
    padding-bottom: 15px;
  }
  .about-block > div:last-child img {
    width: 98px;
    height: 98px;
    margin-bottom: 10px;
  }
  .about-block > div:last-child > div:last-child span {
    font-size: 13px;
  }
  .about-block strong {
    margin: 14px 0 0 0;
    font-size: 16px;
  }
  .about-block button {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    font-size: 15px;
  }
  .about-block__mobile-invisible {
    display: none;
  }
  .footer-block > div:first-child {
    padding: 5% 2%;
  }
  .footer-block > div:first-child strong {
    padding: 0 20px;
    font-size: 14px;
  }
  .footer-block > div:last-child {
    padding: 5px 20px;
  }
  .footer-block > div:last-child img {
    width: 40px;
    height: 40px;
    margin: 10px 5px 0 0;
  }
  .footer-block > div:last-child strong {
    font-size: 19px;
  }
  .footer-block > div:last-child span {
    font-size: 12px;
  }
  .footer-block > div:last-child div {
    margin: 10px 0 0 0;
    font-size: 18px;
  }
}
/*# sourceMappingURL=index.css.map */