@font-face {
  font-family: "MyriadPro";
  src: url("fonts/ofont.ru_Myriad Pro.ttf");
  font-weight: 100;
}
h1 {
  font-family: "MyriadPro", sans-serif;
  font-weight: 500;
  margin: 0 5px;
  font-size: 30px;
}
h2 {
  font-family: "MyriadPro", sans-serif;
  color: #ffaf2d;
  font-weight: normal;
  text-align: center;
  font-size: 22px;
  margin-bottom: 12px;
}
h3 {
  font-size: 27px;
  font-weight: 500;
  font-family: "MyriadPro", sans-serif;
}
h4 {
  color: #34a853;
  font-size: 22px;
  font-weight: 100;
  margin-top: 0;
}
h5 {
  color: #878787;
  font-size: 18px;
  font-weight: 100;
  font-family: "MyriadPro", sans-serif;
  margin: 3px;
}
h6 {
  color: black;
  text-transform: uppercase;
  font-family: "MyriadPro", sans-serif;
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 8px;
}
html {
  width: 100%;
  padding: 0;
  background-color: #f4f2f2;
  height: 3000px;
}
html:root {
  --swiper-theme-color: #fff;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1920px;
  height: 100%;
}
.header_mobile {
  display: none;
}
.header {
  width: 100%;
  background-color: #34a853;
  display: flex;
  justify-content: center;
  height: 49px;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.header__navigation a img {
  display: none;
}
.header__navigation > * {
  font-size: 14.5px;
  font-family: "MyriadPro", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 15px 10px;
}
.header__navigation div {
  align-items: center;
  display: flex;
}
.header__vertical-line {
  background-color: #67be7e;
  height: 28px;
  width: 1px;
  padding: 0;
}
#email:hover {
  background-color: #33bb6f;
}
#copy {
  background-color: black;
  width: 145px;
  height: 9px;
  position: absolute;
  top: 55px;
  left: 73%;
  font-size: 16px;
  border-radius: 40px;
  display: none;
  justify-content: center;
}
#email:hover + #copy {
  display: flex;
}
.phone-hover__gray-text {
  color: #878787;
  font-size: 14px;
  margin-bottom: 20px !important;
}
#phone:hover {
  background-color: #33bb6f;
}
#phone-hover {
  background-color: white;
  width: 755px;
  height: 339px;
  position: absolute;
  top: 55px;
  left: 49.4%;
  display: none;
  justify-content: space-around;
  z-index: 200;
  color: black;
  font-size: 17px;
}
#phone-hover > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#phone-hover > div strong {
  font-size: 20px;
}
#phone-hover > div form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#phone-hover > div form input {
  height: 20px;
  border: none;
  border-bottom: 1px solid #e8e7e7;
  margin-bottom: 10px;
}
#phone-hover > div form input:focus {
  border: none;
  border-bottom: 1px solid #ffaf2d;
  outline: none;
}
#phone-hover > div form button {
  width: 135px;
  height: 45px;
  color: white;
  background-color: #ffaf2d;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  margin-top: 10px;
}
#phone-hover > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#phone-hover > div > div div span:hover {
  border-bottom: 1px solid black;
}
#phone-hover > div * {
  margin: 2px;
}
.search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e7e7;
  height: 63px;
}
.search-block_mobile,
.search-block__img_mobile,
.search-block__img_hover {
  display: none;
}
.search-block__count_orange {
  color: #ffaf2d;
  font-weight: bold;
}
.search-block img {
  width: 35px;
  height: 35px;
  margin: 2px;
}
.search-block__logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 5px 40px 0 0;
}
.search-block__logo span {
  display: none;
}
.search-block__logo img {
  width: 40px;
  height: 40px;
}
.search-block__img_hover {
  display: none;
}
.search-block__portal:hover .search-block__img_hover {
  display: initial;
}
.search-block__portal {
  width: 150px;
  display: flex;
  margin: 0 25px;
  align-items: center;
  color: #878787;
}
.search-block__portal * {
  margin: 2px;
}
.search-block__portal:hover img:first-child {
  display: none;
}
.search-block__basket {
  display: flex;
  text-align: center;
  padding: 7px;
}
.search-block__basket div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-block__basket div:last-child {
  margin-left: 14px;
  text-align: left;
}
.search-block__basket div:last-child span:first-child {
  color: #878787;
}
.search-block__basket div:last-child span:last-child {
  font-weight: bold;
}
.search-block__basket img {
  width: 28px;
  height: 28px;
  margin: 0;
  padding-bottom: 4px;
}
.search-block__basket:hover {
  background-color: #ffaf2d;
}
.search-block__basket:hover img {
  display: none;
}
.search-block__basket:hover div:last-child span {
  color: white;
}
.search-block__basket:hover .search-block__img_hover {
  display: initial;
}
.search-block__basket:hover .search-block__count_orange {
  color: white;
}
.search-block__search {
  display: flex;
  text-align: center;
  margin: 0 21px 0 13px;
}
.search-block__search-hover {
  display: none;
  flex-direction: column;
  text-align: left;
  height: 360px;
  width: 215px;
  position: absolute;
  top: 99px;
  left: 25.2%;
  background-color: #efefef;
  z-index: 20;
  font-family: "MyriadPro", sans-serif;
  padding: 10px;
  font-size: 15px;
}
.search-block__search-hover span {
  margin: 4px;
}
.search-block__search-hover span:hover {
  color: #34a853;
}
.search-block__search input {
  width: 770px;
  height: 35px;
  padding: 0;
  border: 0;
}
.search-block__search input:focus {
  outline: none;
  border: none;
}
.search-block__search button {
  height: 35px;
  border: 0;
  margin: 0 1px;
}
.search-block__search button:focus {
  outline: none;
  border: none;
}
.search-block__search a:last-child button {
  background-color: #ffaf2d;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 50px;
  margin: 0;
}
.search-block__search a:last-child button img {
  width: 23px;
  height: 23px;
  padding-top: 2px;
}
.search-block__search a:first-child button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 65px;
}
.categories-block_mobile {
  display: none;
}
#close-form {
  position: relative;
  top: -160px;
  left: 30px;
  cursor: pointer;
}
.categories__hot-hover {
  display: none;
  flex-direction: row;
  height: 612px;
  position: absolute;
  top: 213px;
  left: 0;
  z-index: 10;
}
.categories__hot-hover > div {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.11) inset;
  background-color: #f7f7f7;
  width: 290px;
}
.categories__hot-hover > div > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px 30px;
  border-top: 1px solid #e8e7e7;
}
.categories__hot-hover > div > div:first-child {
  border-top: none;
}
.categories__hot-hover > div span {
  margin: 2px;
  font-size: 19px;
  text-align: left;
  font-family: "MyriadPro", sans-serif;
  font-weight: 100;
}
.categories__hot-hover > div > div {
  display: flex;
  justify-content: left;
  margin: 3px;
}
.categories__hot-hover > div:first-child {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 20px;
  background-color: white;
}
.categories__hot-hover > div:first-child a {
  padding: 6px 0;
  margin: 6px 25px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.categories__hot-hover > div:first-child a:hover {
  color: #ffaf2d;
}
.categories__hot-hover > div:first-child a:last-child {
  border-bottom: none;
}
.categories__hot-hover > div:first-child span {
  font-size: 17px;
  font-weight: 100;
  font-family: "MyriadPro", sans-serif;
}
.categories__hot-hover > div:first-child a span:last-child {
  color: #b7b7b7;
}
.categories__hot-hover > div:last-child {
  background-color: #00aa4b;
  display: flex;
  flex-direction: column;
  padding: 65px;
  justify-content: center;
  align-items: center;
}
.categories__hot-hover > div:last-child span {
  color: white;
  font-family: "MyriadPro", sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: max-content;
}
.categories__hot-hover > div:last-child button {
  background-color: #ffaf2d;
  color: white;
  width: 130px;
  height: 35px;
  border-radius: 8px;
  margin: 20px;
  outline: none;
  border: none;
  font-size: 15px;
}
.categories__cold-hover {
  display: none;
}
.categories__cold-hover > div:last-child {
  width: 440px;
  padding: 50px 0;
}
.toggle-click {
  display: flex;
}
.categories-block {
  display: flex;
  justify-content: space-around;
  padding: 0 160px;
  height: 100px;
  box-shadow: 0 4px 3px #e1dede;
}
.categories-block img {
  width: 60px;
  height: 60px;
}
.categories-block div {
  display: flex;
  flex-direction: column;
  margin: 9px;
  align-items: center;
  font-weight: bold;
}
.categories-block span {
  font-family: "MyriadPro", sans-serif;
  font-size: 13px;
}
@media (max-width:1550px) {
  .header__navigation {
    width: 95%;
  }
  .search-block {
    padding: 0 5px;
  }
  .search-block__basket div:last-child span {
    display: none;
  }
  .search-block__portal {
    width: auto;
  }
  .search-block__portal span {
    display: none;
  }
  .search-block__logo {
    padding: 0;
  }
  .categories-block {
    padding: 0 10px;
  }
}
@media (max-width:1310px) {
  .categories-block_mobile {
    font-family: "MyriadPro", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e7e7;
    padding: 4px 5px;
  }
  .categories-block_mobile span {
    font-size: 18px;
  }
  .categories-block {
    display: none;
  }
  .header__navigation div span {
    display: none;
  }
  .search-block__search input {
    width: 300px;
  }
  .header__navigation {
    width: 98%;
  }
}
@media (max-width:925px) {
  .header__navigation * {
    font-size: 13px;
    font-weight: 100;
  }
  .header__navigation a img {
    display: initial;
    width: 20px;
    height: 20px;
    opacity: 0.9;
  }
  .header__navigation a span {
    display: none;
  }
  .search-block__search input {
    width: 200px;
  }
}
@media (max-width:767px) {
  h1 {
    font-size: 17px;
    font-weight: bold;
  }
  .categories-block_mobile {
    top: -50px;
    position: relative;
  }
  .header_mobile {
    display: inline;
    position: relative;
    z-index: 100;
    top: 5px;
    left: 10px;
  }
  .header_mobile img {
    width: 50px;
    height: 50px;
  }
  .header {
    position: relative;
    z-index: -10;
    top: -100px;
    display: none;
  }
  .search-block {
    justify-content: space-around;
    position: relative;
    top: -50px;
    z-index: 10;
    padding-right: 0;
    padding-left: 60px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #e5e5e5;
  }
  .search-block_mobile,
  .search-block__img_mobile {
    display: initial;
  }
  .search-block__img_mobile {
    width: 35px;
    height: 35px;
  }
  .search-block__img {
    display: none;
  }
  .search-block__search,
  .search-block__portal {
    display: none;
  }
  .search-block__logo div {
    display: flex;
    flex-direction: column;
  }
  .search-block__logo span {
    display: inline-block;
    margin-left: 4px;
  }
}
.body {
  position: relative;
  top: -950px;
  width: 1550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.targeted-offers-block {
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 475px;
  background-color: white;
  left: 180px;
  top: 15px;
  position: relative;
  padding-top: 14px;
  font-weight: 100;
  border-bottom: 13px solid #f4f2f2;
}
.targeted-offers-block a {
  padding: 6px 0 0 0;
  margin: 8px 25px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
}
.targeted-offers-block a:last-child {
  border-bottom: none;
}
.targeted-offers-block span {
  font-size: 17px;
  font-family: "MyriadPro", sans-serif;
}
.targeted-offers-block a span:last-child {
  color: #b7b7b7;
}
.swiper-slide {
  background-color: #fff;
}
.swiper-container {
  top: -488px;
  width: 900px;
  height: 475px;
  margin: 0;
  left: 5px;
}
.sale-block {
  width: 300px;
  height: 473px;
  border: 2px solid #ffaf2d;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  top: -964px;
  left: 1425px;
  background-color: white;
}
.sale-block * {
  margin: 5px 5px 5px 27px;
}
.sale-block span {
  font-size: 17px;
  font-weight: 100;
}
.sale-block h1 {
  font-size: 36px;
  margin-top: -2px;
}
.sale-block span:last-child {
  margin: 20px 0 46px 27px;
  color: #ffaf2d;
}
.brands-block {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  background-color: white;
  align-items: center;
}
.brands-block span {
  font-family: "MyriadPro", sans-serif;
  font-size: 17px;
  padding-right: 20px;
}
.brands-block > div {
  display: flex;
  justify-content: space-around;
  width: 33%;
  align-items: center;
}
.brands-block > div > div {
  height: 72px;
  width: 2px;
  background-color: #f4f2f2;
}
.news-block {
  display: flex;
  padding: 170px 0 0 0;
  justify-content: space-between;
  align-items: center;
}
.news-block button {
  font-size: 17px;
  padding: 5px 30px;
  margin-top: 40px;
  border-radius: 30px;
}
.news-block strong {
  font-size: 21px;
  font-weight: 500;
  padding: 10px 0;
}
.news-block > div {
  width: 820px;
}
.news-block > div:first-child {
  width: 495px;
}
.news-block > div:first-child img {
  margin: 0 0 20px 0;
}
.news-block * {
  font-family: "MyriadPro", sans-serif;
}
.news-block > div > span,
.news-block > div > strong {
  display: block;
}
.news-block > div:last-child {
  padding: 0 0 0 50px;
}
.news-block > div:last-child > div {
  display: flex;
  margin-top: 35px;
}
.news-block > div:last-child > div > div > span {
  display: block;
  margin-top: 10px;
}
.news-block img {
  margin: 0 10px 0 10px;
}
.news-block__producer-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.news-block__producer-line span:first-child {
  color: #34a853;
}
.recommend-block {
  display: flex;
  padding: 170px 0 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "MyriadPro", sans-serif;
}
.recommend-block strong {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}
.recommend-block span {
  color: #878787;
  font-size: 15px;
  width: 470px;
  text-align: center;
}
.recommend-block > div {
  display: flex;
  margin-top: 40px;
}
.recommend-block > div > div {
  display: flex;
  flex-direction: column;
  margin: 2.5px;
}
.recommend-block > div > div:first-child {
  justify-content: flex-end;
  background-color: white;
  width: 600px;
  height: 745px;
  align-items: center;
}
.recommend-block > div > div:first-child img {
  margin-top: 60px;
  height: 480px;
  width: 430px;
}
.recommend-block > div > div:first-child span {
  width: 270px;
}
.recommend-block > div > div:last-child > div:first-child {
  display: flex;
  background-color: black;
  color: white;
  height: 420px;
  width: 790px;
  align-items: center;
  margin-bottom: 5px;
}
.recommend-block > div > div:last-child > div:first-child h6 {
  color: white;
}
.recommend-block > div > div:last-child > div:first-child strong {
  width: 100px;
}
.recommend-block > div > div:last-child > div:first-child img {
  height: 400px;
  width: 200px;
  margin-right: 65px;
}
.recommend-block > div > div:last-child > div:last-child {
  display: flex;
  background-color: white;
  height: 320px;
  width: 790px;
}
.recommend-block > div > div:last-child > div:last-child > div {
  padding: 40px;
}
.recommend-block > div > div:last-child > div:last-child img {
  height: 300px;
}
.about-block {
  display: flex;
  padding: 170px 30px 0 30px;
  justify-content: space-around;
  width: 100%;
  font-family: "MyriadPro", sans-serif;
}
.about-block button {
  border-radius: 50%;
  color: white;
  background-color: black;
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 30px;
  border: none;
  outline: none;
}
.about-block span {
  margin-bottom: 20px;
  color: #878787;
}
.about-block > div:first-child {
  width: 830px;
  padding: 5px;
}
.about-block > div:last-child {
  width: 255px;
}
.about-block > div:last-child * {
  display: block;
}
.about-block > div:last-child h3 {
  margin-bottom: 0;
}
.footer-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  position: relative;
  top: -780px;
}
.footer-block > div {
  display: flex;
  justify-content: space-around;
}
.footer-block > div:first-child {
  background-color: #232323;
  padding: 100px 0;
}
.footer-block > div * {
  display: block;
  margin: 4px;
}
.footer-block > div strong {
  color: #777;
  margin-bottom: 20px;
  font-size: 20px;
}
.footer-block > div:last-child {
  background-color: black;
  justify-content: space-between;
  padding: 40px 100px 30px 100px;
  align-items: center;
}
.footer-block > div:last-child strong {
  font-size: 18px;
  font-weight: 500;
  font-family: "MyriadPro", sans-serif;
  color: #fff;
  margin-bottom: 0;
}
.footer-block > div:last-child span {
  color: #777;
  font-size: 14px;
}
.footer-block > div:last-child img {
  width: 40px;
  height: 40px;
}
.footer-block > div:last-child div:first-child {
  display: flex;
}
@media (max-width:1900px) {
  .targeted-offers-block {
    left: 100px;
  }
  .sale-block {
    left: 1400px;
  }
}
@media (max-width:1800px) {
  .targeted-offers-block {
    left: 50px;
  }
  .sale-block {
    left: 1350px;
  }
}
@media (max-width:1700px) {
  .targeted-offers-block {
    left: 30px;
  }
  .sale-block {
    left: 1300px;
  }
}
@media (max-width:1630px) {
  .targeted-offers-block {
    left: 10px;
  }
  .sale-block {
    left: 1270px;
  }
}
@media (max-width:1591px) {
  .targeted-offers-block {
    display: none;
  }
  .sale-block {
    display: none;
  }
  .swiper-container {
    top: 8px;
  }
  .body {
    top: 15px;
  }
  .footer-block {
    top: 60px;
  }
  .body {
    width: auto;
  }
}
@media (max-width:1400px) {
  .news-block div:last-child {
    display: none;
  }
  .recommend-block > div {
    flex-direction: column;
    align-items: center;
  }
  .recommend-block > div > div:last-child > div:first-child {
    width: 600px;
  }
  .recommend-block > div > div:last-child > div:last-child {
    width: 600px;
  }
  .about-block {
    padding-right: 0;
  }
}
@media (max-width:925px) {
  .swiper-container {
    width: 750px;
    height: 400px;
    top: 8px;
  }
  .brands-block {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .brands-block > div {
    width: 600px;
    margin: 20px;
  }
  .brands-block > div > div {
    display: none;
  }
}
@media (max-width:767px) {
  .swiper-container {
    width: 100%;
    height: 400px;
    top: -50px;
  }
  .body {
    top: -60px;
  }
  .news-block {
    display: none;
  }
  .recommend-block {
    padding-top: 60px;
  }
  .about-block {
    padding-top: 60px;
    flex-direction: column-reverse;
  }
  .about-block > div {
    padding: 30px;
  }
  .about-block > div:first-child {
    width: auto;
  }
  .footer-block > div:first-child {
    flex-direction: column;
  }
  .footer-block > div:first-child span {
    display: none;
  }
  .footer-block > div:first-child strong {
    color: white;
    font-weight: normal;
    font-family: "MyriadPro", sans-serif;
    border-bottom: 1px solid #878787;
    padding: 10px 20px;
  }
  .footer-block > div:last-child {
    padding: 20px 20px;
  }
  .recommend-block > div {
    flex-direction: column;
    align-items: center;
  }
  .recommend-block > div > div:first-child {
    width: 100%;
  }
  .recommend-block > div > div:last-child > div:first-child {
    width: 100%;
  }
  .recommend-block > div > div:last-child > div:first-child img {
    margin-right: 5px;
  }
  .recommend-block > div > div:last-child > div:last-child {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */