@font-face {
  font-family: "MyriadPro";
  src: url("fonts/ofont.ru_Myriad Pro.ttf");
  font-weight:100;
}

@green: #34a853;
@font: "MyriadPro", sans-serif;
@orange: #ffaf2d;
@gray: #e8e7e7;
@gray-text: #878787;

@1640: ~ "(max-width:1640px)";
@1460: ~ "(max-width:1460px)";
@1280: ~ "(max-width:1280px)";
@1000:~ "(max-width:1000px)";

@1800: ~ "(max-width:1800px)";
@1900: ~ "(max-width:1900px)";
@1700: ~ "(max-width:1700px)";
@1630: ~ "(max-width:1630px)";
@1591: ~ "(max-width:1591px)";
@1550: ~ "(max-width:1550px)";
@1400: ~ "(max-width:1400px)";
@1310:~ "(max-width:1310px)";
@1050:~ "(max-width:1050px)";
@925:~ "(max-width:925px)";
@767:~ "(max-width:767px)";
@body: #f4f2f2;
@hover-green: #33bb6f;